/* *,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: green;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: 28px;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 100svh;
} */
